accelerate==0.18.0
diffusers==0.17.1
dill==0.3.4
dominate==2.7.0
easydict==1.9
Flask==2.1.0
Flask_Cors==3.0.9
gym==0.26.2
matplotlib==3.3.2
numpy==1.22.0
onnx==1.13.1
onnx_caffe2==1.0.0
opencv_python==4.5.3.56
Pillow==9.5.0
pycocotools==2.0.6
python-dotenv==1.0.0
requests==2.31.0
scipy==1.7.0
six==1.16.0
scikit-image
tensorflow==2.12.0
torch==1.13.1
# torchtext==0.15.1
torchvision==0.14.1
xformers==0.0.16
