# Model and data
SPADE_pretrained/
model/all_models/gaugan/SPADE_pretrained/
datasets/
__pycache__/
.ipynb_checkpoints
node_modules
.idea
/model/outputs
executionHistory.bin
# Expo files
.expo
__generated__
client/web-build
